.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    &__value {
        font-size: 2rem;
        font-weight: 700;
    }
    
    &__buttons {
        display: flex;
        gap: 1rem;
    }
}
